<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our sidebar</h3>
                <p class="text-muted">Очень крутая настройка рекламы от профессионала
                    <ul>
                        <li>Свежие посты</li>
                        <li>Анонсы и планы</li>
                        <li>Календарь</li>
                        <li>Остальное</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>